body{
    background-image: url(krishna\ image.jpg);
}
#om{
    position: absolute;
    right: 300px;
    top: 300px;
   background-color: pink;
    height: 100px;
    width: 300px;
    border: 2px solid black;
    transition-property: all;
    transition-duration: 10s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
    text-transform: uppercase;
    text-align: center;
    background-image: url(krishna.jpg);
    background-size: cover;
    color:azure;

}
#om:hover{
    background-color: lightblue;
    color: rgb(14, 12, 157);
    font-size: 30px;
    transform: rotate(360deg) scale(3) translateX(-200px);
    /*transform: skew(20deg, 20deg);*/                                                                                                                                                                       
}

div:active{
       background-color: black;
     color: white;
}
/*transition shorthand
transition: font-size 4s steps(4) 1s;*/
#krishna{
    position: absolute;
    left: 100px;
    top: 100px;
   background-color: pink;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    animation-name: move;
    animation-duration: 3s;
   /* animation-timing-function: ease-in-out;*/
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    /*animation: move 0.25s ease-in-out 0s infinite normal;*/
}
@keyframes move{
    from{
        background-color: pink;
        left: 0px;}
    to{
        left: 500px;
        background-color: orange;    
    }
    
}