#cat1{
    height: 100px; 
    width: 100px;
    background-image: url(cat_photo.jpg.jpg);
    background-size: cover;
    position: static;
    
}
#cat2{
    height: 100px; 
    width: 100px;
    background-image: url(cat2.jpg);
    background-size: cover;
    position: relative;
    right: 0;
    top: 120px;
}
#cat3{
    height: 100px; 
    width: 100px;
    background-image: url(cat3.jpg);
    background-size: cover;
    position: absolute;
    right: 200px;
    top: 240px;
}
#cat4{
    height: 100px; 
    width: 100px;
    background-image: url(cat4.jpg);
    background-size: cover;
    position: fixed;
    right: 0;
    top: 360px;
}
#cat5{
    height: 100px; 
    width: 100px;
    background-image: url(cat5.jpg);
    background-size: cover;
    position: sticky;
    left: 300px;
    top: 80px;
}