.navbar{
    background-color: black;
    height: 60px;
    width: 100%;
    border: 2px solid rgb(226, 213, 213);

}
a{
    margin-right: 200px;
    text-decoration: none;
    color: white;

}
button{
    background-color: chocolate;
}
amazon.in{
    color: rgb(226, 123, 13);
    text-transform: capitalize;
}
#logo{ color: rgb(226, 123, 13); text-transform: capitalize; }
#box1{
    background-color: salmon;
    width: 100px; height: 100px;
    border: 2px solid black;
    display: inline-block;
    margin: 50px;
}
#box2{
    background-color: rgb(13, 226, 80);
    width: 100px; height: 100px;
    border: 2px solid black;
    display: inline-block;
    margin: 50px;
}
#box3{
    background-color: rgb(13, 226, 205);
    width: 100px; height: 100px;
    border: 2px solid black;
    display: inline-block;
    margin: 50px;
}
footer{
    color: white;
    background-color: rgb(37, 33, 33); height: 60px; width: 100%; 
text-align: center; }
main{
    height: 600px; width: 100%;
}